
<div class="toolbar" role="banner">
  <a routerLink="">
    <img
      width="40"
      alt="Notflix Logo"
      src="assets\netflix-logo.png"
      class="logo-with-border"
      routerLink=""
    />
  </a>
  <!-- Title and Home Button -->
  <div class="title-container">
    <a routerLink="" style="color: #B02A30;">NOTFLIX</a>
  </div>
  <div class="spacer1"></div>
  <a class="home-link" routerLink="" style="color: #B02A30;">Home</a>
  <div class="spacer"></div>
  <!-- Genre Dropdown -->
  <div class="genre-dropdown">
    <label for="genre">Genre:</label>
    <select id="genre" name="genre">
      <option value="action">Action</option>
      <option value="sciencefiction">Science fiction</option>
      <option value="comedy">Comedy</option>
    </select>
  </div>
  <a class="link" routerLink="login" style="color: #B02A30;">Login</a>
</div>
