<!-- <app-header></app-header> -->
<div class="contain-fluid">
  <div class="login-container">
    <h2>Add Movie</h2>

    <form (ngSubmit)="addMovie()" #filmForm="ngForm">
      <div>
        <input
          type="text"
          id="movieName"
          class="login-input"
          placeholder="Movie Name"
          name="movieName"
          [(ngModel)]="title"
          required />
      </div>

      <div>
        <textarea
          id="description"
          class="login-input"
          placeholder="Description"
          name="description"
          [(ngModel)]="overview"
          required></textarea>
      </div>

      <div>
        <input
          type="text"
          id="imageUrl"
          class="login-input"
          placeholder="Image URL"
          name="imageUrl"
          [(ngModel)]="poster_path"
          required />
      </div>

      <div>
        <input
          type="text"
          id="movieUrl"
          class="login-input"
          placeholder="Movie URL"
          name="movieUrl"
          [(ngModel)]="url"
          required />
      </div>
      <div>
        <select
          id="genre"
          name="genre"
          placeholder="Genre"
          class="login-input"
          [(ngModel)]="genres"
          required>
          <option value="" disabled selected>Genre</option>
          <option value="Action">Action</option>
          <option value="Animation">Animation</option>
          <option value="Science Fiction">Science Fiction</option>
        </select>
      </div>

      <button type="submit" class="login-button">Add Movie</button>
    </form>
  </div>
</div>
