
<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }
  </style>



<div class="toolbar" role="banner">
  <a routerLink="">
    <img
    width="40"
    alt="Notflix Logo"
    src="assets\netflix-logo.png"
    class="logo-with-border"
    routerLink=""
  />
  </a>
  <!-- Title and Home Button -->
  <div class="title-container">
    <a routerLink="" style="color: #B02A30;">NOTFLIX</a>
  </div>
  <div class="spacer1"></div>
  <a class="home-link" routerLink="" style="color: #B02A30;">Home</a>
  <div class="spacer"></div>
  <!-- Genre Dropdown -->
  <div class="genre-dropdown">
    <label for="genre">Genre:</label>
    <select id="genre" name="genre">
      <option value="action">Action</option>
      <option value="drama">Drama</option>
      <option value="funny">Funny</option>
    </select>
  </div>
  <a class="link" routerLink="login" style="color: #B02A30;">Login</a>
</div>
<div class="background-container">
</div>

<p class="genre-dropdown select">sdfasdf</p>
<p class="genre-dropdown select">sdfasdf</p>
<p class="genre-dropdown select">sdfasdf</p>
<p class="genre-dropdown select">sdfasdf</p>
<p class="genre-dropdown select">sdfasdf</p>

<!--<app-testcomponent></app-testcomponent>-->
<!--<app-photographs></app-photographs>-->
<!--<app-photographs></app-photographs>-->
<router-outlet></router-outlet>
