/* You can add global styles to this file, and also import other style files */
body {
  background-image: url('src/assets/background.jpg');
  background-color: rgba(255, 255, 255, 0.1); /* Adjust the last value (0.0 to 1.0) for transparency */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0; /* Keep it at 0 or adjust as needed */
}
