<!-- home.component.html -->
<!-- <app-header></app-header> -->
<app-banner></app-banner>
<div class="contain mt-3 mb-5 p-4">
  <!-- all movies  -->
  <!-- <div class="row">
    <h5 class="text-white">{{ selectedGenre }} Movies</h5>
    <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let t of movies">
        <ng-container
          *ngIf="!selectedGenre || t.genres.includes(selectedGenre)">
          <img
            src="{{ t.poster_path }}"
            class="rowimg largeposter"
            alt="..."
            [routerLink]="['/movies', t.id]" />
        </ng-container>
      </ng-container>
    </div>
  </div> -->
  <!-- science fiction movies  -->
  <div id="science-fiction" class="row">
    <h5 class="text-white">Science Fiction Movies</h5>
    <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let t of movies">
        <ng-container *ngIf="t.genres.includes('Science Fiction')">
          <img
            src="{{ t.poster_path }}"
            class="rowimg largeposter"
            alt="..."
            [routerLink]="['/movies', t.id]" />
        </ng-container>
      </ng-container>
    </div>
  </div>

  <!-- animation movies -->
  <div id="animation" class="row mt-4">
    <h5 class="text-white">Animation Movies</h5>
    <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let a of movies">
        <ng-container *ngIf="a.genres.includes('Animation')">
          <img
            src="{{ a.poster_path }}"
            class="rowimg largeposter"
            alt="..."
            [routerLink]="['/movies', a.id]" />
        </ng-container>
      </ng-container>
    </div>
  </div>
  <!-- actions movies  -->
  <div id="action" class="row mt-4">
    <h5 class="text-white">Action Movies</h5>
    <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let a of movies">
        <ng-container *ngIf="a.genres.includes('Action')">
          <img
            src="{{ a.poster_path }}"
            class="rowimg largeposter"
            alt="..."
            [routerLink]="['/movies', a.id]" />
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
